# Sepay Configuration Template
# Copy this file to .env and fill in your actual values
# Command: cp env.template .env

# Sepay API Credentials
# Lấy từ Sepay Dashboard: https://dashboard.sepay.vn
sepay_MERCHANT_ID=SP-LIVE-TN283A26
sepay_API_SECRET=spsk_live_bfjyjD2M5HhVnyUtqAHsa9gNNPa84i7S

# Environment: production
# - sandbox: Dùng cho testing
# - production: Dùng cho live
sepay_ENV=production

; # Webhook Secret (for verifying webhook signatures)
; # tạo random key, setup auth cho IPN và webhook (seret)
#callback URL dành cho sepay: https://73cmn20f-8081.asse.devtunnels.ms/api/sepay/webhook.php
sepay_WEBHOOK_SECRET=random-secret-key

sepay_BANK_ACCOUNT=0349252052  #STK 012345678
sepay_BANK_NAME=MBBANK # e.x MBBANK
sepay_ACCOUNT_NAME=TRUONG NHAT PHAT
sepay_QR_TEMPLATE=compact
sepay_QR_DOWNLOAD=1



